---
import WorkshopForm from '../components/forms/WorkshopForm.astro';
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'הרצאות וסדנאות | הצטרפו למסע הספרותי',
	description: 'עמוד הזמנת הרצאה/סדנה',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h1>בין מדע לנסתר: הרצאה וסדנה</h1>
				<p>
					הפרוזדור לוקח את הקורא למסע בין תיאוריות מדעיות חדשניות פורצות דרך לתפיסת הנסתר. מתעניינים בהרצאה או סדנה עם הסופר מאיר לוקשינסקי? השאירו פרטים בטופס שמשמאל ונחזור אליכם בהקדם
				</p>
				<div>
					<div style="display: flex; align-items: center; gap: 0.5rem;">
						<h5>הרצאות וסדנאות לארגונים וועדי עובדים</h5>
						<p>•</p>
						<h5>בכל רחבי הארץ</h5>
					</div>
				</div>
			</div>
			<div class="col-2__container">
				<WorkshopForm />
			</div>
		</section>
	</Container>
</Layout>

<style>
    .contact-hero__section {
        margin: var(--section-margin) auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: calc(90vh - var(--navbar-height));
        gap: 3rem;
    }
    .contact-hero__text-section {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--theme-surface-1);
        border-radius: var(--theme-shape-radius);
    }
    .col-2__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media (max-width: 768px) {
        .contact-hero__section {
            grid-template-columns: 1fr;
        }
    }
</style>
