---
---

<p class="prozdor-logo">הפרוזדור</p>

<style>
	.prozdor-logo {
		width: fit-content;
		margin: 0;
		font-family: var(--theme-font-family-sans);
    font-size: var(--font-size-lg);
    font-weight: bold;
		color: inherit;
	}
	.odyssey-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
