---
import { Button, FormInput, FormTextarea } from '@components/odyssey-theme';

export interface Props {
	formspreeId?: string;
}

---

<form name="Workshop Form" method="POST" action="https://formspree.io/f/mjkrenav">
	<FormInput
		type="text"
		label="שם מלא"
		name="name"
		placeholder="ישראל ישראלי"
		required
	/>
	<FormInput
		type="tel"
		label="מספר טלפון"
		name="phone"
		placeholder="050-1234567"
		pattern="[0-9]{9,10}"
		required
	/>
	<FormInput
		type="email"
		label="כתובת אימייל"
		name="email"
		placeholder="example@email.com"
		required
	/>
	<FormInput
		type="text"
		label="חברה/ארגון"
		name="organization"
	/>
	<FormTextarea
		label="פרטים נוספים"
		name="details"
	/>
	<!-- Hidden fields for Formspree -->
	<input type="hidden" name="_subject" value="פנייה חדשה מטופס התעניינות בסדנה" />
	<input type="text" name="_gotcha" style="display:none" />
	<Button>שלחו</Button>
</form>

<style>
    form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
</style>
